<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../resources//home/home.css" />
  </head>
  <body>
    
    <div class="stage">
    
      <div class="container">
        <div class="ring">
          <button class="img" ></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
          <button class="img"></button>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.10.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../resources/home/home.js"></script>
  </body>
</html>